{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

  <div class="col-sm-4 container">
    <h1> Upload file:</h1>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" class="btn btn-default" value="Upload!">
      <a class="btn btn-default" href="{% url 'accounts:logout' %}"> Log Out </a>
    </form>
  </div>
<br>
{% if brsf %}
<div class='col-sm-2'>
  <table class='table table-striped' style='left: 50%'>
  {% for name, value in brsf %}

      <tr class='{{name}}'>
        <td>{{name}}</td>
        <td style='margin:0 auto;text-align:right'>{{value}}</td>
      </tr>
      {% if forloop.counter == 10 or forloop.counter == 18 %}
        <tr class='danger'>
          <td></td>
          <td></td>
        </tr>
      {% endif %}
  {% endfor %}
  </table>
</div>
{% endif %}
{% endblock %}
